################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BTEd/v15
/BTEd/obj/Debug/TempPE
/BTEd/obj/Debug/BTEd.vbproj.CoreCompileInputs.cache
/BTEd/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BTEd/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/BTEd/obj/Debug/BTEd.vbprojAssemblyReference.cache
/BTEd/obj/Release/BTEd.vbproj.CoreCompileInputs.cache
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/BardsTale1CharEdit/v15/.suo
/BTEd/obj/Debug
